<td-layout #layout
            [class]="activeTheme"
            [dir]="dir">
  <td-navigation-drawer sidenavTitle="Covalent" logo="assets:teradata" navigationRoute="/" flex color="primary"
    sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
    <mat-nav-list flex>
      <a mat-list-item
          tdLayoutClose
          [routerLink]="['/']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}">
          <mat-icon matListIcon>home</mat-icon>
          Home
      </a>
      <a *ngFor="let item of routes"
          mat-list-item
           tdLayoutClose
          [routerLink]="[item.route]"
          [routerLinkActive]="['active']">
          <mat-icon matListIcon>{{item.icon}}</mat-icon>
          {{item.title}}
      </a>
      </mat-nav-list>
      <div td-navigation-drawer-menu>
        <mat-nav-list>
          <a mat-list-item>
            <mat-icon>account_box</mat-icon>Profile</a>
        </mat-nav-list>
      </div>
  </td-navigation-drawer>
  <router-outlet></router-outlet>
</td-layout>
